{% extends 'base.html' %}
{% block title %}
  Проверятель заполнения НДФЛ
{% endblock %}
{% block main %}
    <div class="container" align="center">
      <h3 >Загрузите файл для проверки</h3>
      <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <input type="file" name="file_to_check">
        <button type="submit">Загрузка</button>
      </form>
      {% if file_url %}
      <a href="{% url 'checker:download'%}">Выгрузить файл</a>
      {% endif %}
    <!-- Сообщения об ошибках -->
      {% if messages %}
        <script>
          {% for msg in messages %}
              alert('{{ msg.message }}');
          {% endfor %}
        </script>
      {% endif %}
      </div>
{% endblock %}